In [ ]:
import re

# caret (^) matches at the beginning of a string

In [2]:
target_string = "Emma is a Python developer \n Emma also knows ML and AI"
result = re.search(r"^\w{4}", target_string)
print(result.group())

Emma

In [3]:
target_string = "Emma is a Python developer \n Emma also knows ML and AI"

# caret (^) matches at the beginning of a string
result = re.search(r"^\w{5}", target_string)
print(result.group())

AttributeError: 'NoneType' object has no attribute 'group'

In [4]:
target_string = "Jessygrace is a Python developer \n Emma also knows ML and AI"

# caret (^) matches at the beginning of a string
result = re.search(r"^\w{8}", target_string)      
print(result.group())

Jessygra

In [6]:
target_string = "JessyGrace is a Python developer \n Emma also knows ML and AI"

# caret (^) matches at the beginning of a string
result = re.search(r"^\w{10}", target_string)      
print(result.group())

JessyGrace

# dollar sign  to match at the end of the string

In [7]:
str1 = "Emma is a Python developer \nEmma also knows ML and AI"
result = re.search(r"\w{2}$", str1)
print(result.group())

AI

In [9]:
target_string = "JessyGrace is a Python developer \n she also knows ML and"

# caret (^) matches at the beginning of a string
result = re.search(r"\w{2}$", target_string)      
print(result.group())

nd

# asterisk sign(*) to match 0 or more repetitions

In [10]:
str1 = "Numbers are 8,23, 886, 4567, 78453"
result = re.findall(r"\d", str1)
print(result)

['8', '2', '3', '8', '8', '6', '4', '5', '6', '7', '7', '8', '4', '5', '3']

In [13]:
str1 = "Numbers are 8,23, 886, 4567, 78453"
result = re.findall(r"\d\d", str1)
print(result)

['23', '88', '45', '67', '78', '45']

In [14]:
str1 = "Numbers are 8,23, 886, 4567, 78453"
result = re.findall(r"\d\d\d", str1)
print(result)

['886', '456', '784']

In [15]:
str1 = "Numbers are 8,23, 886, 4567, 78453"
result = re.findall(r"\d\d*", str1)
print(result)

['8', '23', '886', '4567', '78453']

In [18]:
str1 = "Numbers are 8,23, 886, 4567, 78453"
result = re.findall(r"\d\d\d*", str1)
print(result)

['23', '886', '4567', '78453']

# print specific characters in words

In [19]:
str1 = "Emma is a Python developer. Emma also knows ML and AI."
res = re.findall(r"[edk]", str1)  # it only consider small letters edk
print(res)

['d', 'e', 'e', 'e', 'k', 'd']

In [21]:
str1 = "Emma is a Python developer. Emma also knows ML and AI."
res = re.findall(r"[oEmM]", str1)
print(res)

['E', 'm', 'm', 'o', 'o', 'E', 'm', 'm', 'o', 'o', 'M']

# Match object & Match value

In [24]:
target_string = "Emma is a basketball player who was born on June 17"
result = re.match(r"\w{3}", target_string) 

# printing the Match object
print("Match object: ", result)


# Extract match value
print("Match value: ", result.group())

Match object:  <re.Match object; span=(0, 3), match='Emm'>
Match value:  Emm

# Split

In [38]:
s = "Welcome   to    Regex     Programming     using    Python"

print(f'the value of s               : {s}')

lstVal = re.split(r'\s', s)
                                                               #\s only one space
print(f'Regex Split value of s        :{lstVal}')

the value of s               : Welcome   to    Regex     Programming     using    Python
Regex Split value of s        :['Welcome', '', '', 'to', '', '', '', 'Regex', '', '', '', '', 'Programming', '', '', '', '', 'using', '', '', '', 'Python']

In [41]:
s = "Welcome      to         Regex          Programming       using       Python"

print(f'the value of s               : {s}')
lstVal2 = re.split(r'\s+', s)
                                                              #\s+ space one or more
print(f'Regex Split value of s        :{lstVal2}')

the value of s               : Welcome      to         Regex          Programming       using       Python
Regex Split value of s        :['Welcome', 'to', 'Regex', 'Programming', 'using', 'Python']

In [42]:
s = "Welcome to   Regex    Programming   using   Python"

print(f'the value of s               : {s}')

lstVal = re.split(r'[a-h]', s)
                                                   #[a-h] - from a to h ( a,b,c,d,e,f,g,h) remove those and split remainig
print(f'Regex Split value of s        :{lstVal}')

the value of s               : Welcome to   Regex    Programming   using   Python
Regex Split value of s        :['W', 'l', 'om', ' to   R', '', '', 'x    Pro', 'r', 'mmin', '   usin', '   Pyt', 'on']

In [43]:
s = "Welcome to   Regex    Programming   using   Python"

print(f'the value of s               : {s}')

lstVal = re.split(r'[a-f,l-n]', s)
                                                      #[a-f,l-n] - from a to f ( a,b,c,d,e,f,)  l to n (l,m,n)
print(f'Regex Split value of s        :{lstVal}')

the value of s               : Welcome to   Regex    Programming   using   Python
Regex Split value of s        :['W', '', '', 'o', '', ' to   R', 'g', 'x    Progr', '', '', 'i', 'g   usi', 'g   Pytho', '']

# Extract the numbers

In [54]:
address = "78 Hi 11    89 Main, 4th Cro567ss, 123, Road, Marathalli, 5678 Bangalore, 560023 67893"

In [55]:
add_nos = re.findall(r'\d+', address)

print(f'sorting the only nums from address {add_nos}')

sorting the only nums from address ['78', '11', '89', '4', '567', '123', '5678', '560023', '67893']

In [60]:
## now i want no's with 6 digit only
# REAL LIFE APPLICATION - EXTRACTING THE PIN CODES

add_dig = re.findall(r'\d{6}', address)

print(f'sorting the only nums from address {add_dig}')

sorting the only nums from address ['560023']

In [61]:
## now i want no's with 1-3 digits only - numbers with single digit,double digits and tripe digits

add_digs = re.findall(r'\d{1,3}', address)

print(f'sorting the only nums from address {add_digs}')

sorting the only nums from address ['78', '11', '89', '4', '567', '123', '567', '8', '560', '023', '678', '93']

In [62]:
s = '''
<html>
<head>
<title>Current IP Address Allocations
</title>
</head>
<body>
IP Address are 172.45.78.109
LoopBack Address: 127.0.0.1
Computer 1: 10.67.89.101
Computer 2: 11.67.98.102
Computer 3: 12.68.98.102
</body>
</html>
'''

In [63]:
ip_s=re.findall(r'\d{1,3}.\d{1,3}.\d{1,3}.\d{1,3}',s)

print(f'ip address are -: {ip_s}')

ip address are -: ['172.45.78.109', '127.0.0.1', '10.67.89.101', '11.67.98.102', '12.68.98.102']

In [71]:
ip_s=re.findall(r'\d{1,3}.\d{1,3}.\d\d{1,3}.\d\d{1,3}',s)

print(f'ip address are -: {ip_s}')

ip address are -: ['172.45.78.109', '10.67.89.101', '11.67.98.102', '12.68.98.102']

In [77]:
### starting 11  0r 12

ip_s1=re.findall(r"1[1-2]\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['11.67.98.102', '12.68.98.102']

In [80]:
### 11  0r 12

ip_s1=re.findall(r"1[1-2]\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['11.67.98.102', '12.68.98.102']

In [81]:
### 11  0r 12

ip_s1=re.findall(r"1[12]\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['11.67.98.102', '12.68.98.102']

In [84]:
### only 10

ip_s1=re.findall(r"10\.\d{1,3}\.\d{1,3}\.\d{1,3}", s)
print(f'ip address are -: {ip_s1}')

ip address are -: ['10.67.89.101']

In [89]:
print("Find all matches for format Month day")

matches = re.findall(r"[A-Z][a-z]+\s\d{1,2}", "These are the match dates June 24, August 9, Dec 12")
print(f'gives Month Date format - {matches}')

matches = re.findall(r"[A-Z][a-z]+\s(\d{1,2})", "These are the match dates June 24, August 9, Dec 12")
print(f'gives Date format - {matches}')

matches = re.findall(r"([A-Z][a-z]+)\s(\d{1,2})", "These are the match dates June 24, August 9, Dec 12")
print(f'gives tuple of Month & Date format - {matches}')

Find all matches for format Month day
gives Month Date format - ['June 24', 'August 9', 'Dec 12']
gives Date format - ['24', '9', '12']
gives tuple of Month & Date format - [('June', '24'), ('August', '9'), ('Dec', '12')]

In [90]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com"

emails = re.findall(r"", s)
print(emails)

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [91]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com veenavi2324@gmail.com"

emails = re.findall(r"\w+@\w+\.\w+", s)
print(emails)

['alice@google.com', 'helloab@abc.com', '23@gmail.com', 'my23@gmail.com', '_@gmail.com', 'veenavi2324@gmail.com']

In [92]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com veenavi2324@gmail.com"

emails = re.findall(r"[A-Za-z]+@\w+\.\w+", s)
print(f'starts with alphabets only {emails}')

starts with alphabets only ['alice@google.com', 'helloab@abc.com']

In [93]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com veenavi2324@gmail.com"

emails = re.findall(r"\d+@\w+\.\w+", s)
print(f'starts with digits only {emails}')            # word present in before and after the digits deleted

starts with digits only ['23@gmail.com', '23@gmail.com', '2324@gmail.com']

In [94]:
s = "purple alice@google.com abcde helloab@abc.com ---@gmail.com 23@gmail.com my23@gmail.com _@gmail.com veenavi2324@gmail.com"

emails = re.findall(r"[A-Za-z0-9]+@\w+\.\w+", s)
print(f'starts with alphabets or digits  {emails}')

starts with digits only ['alice@google.com', 'helloab@abc.com', '23@gmail.com', 'my23@gmail.com', 'veenavi2324@gmail.com']

# Different functions in ReGex

## 1.findall-returns lists of all matches

In [2]:
import re

In [4]:
at = 'Rome was not built in a day – difficult tasks always take time to accomplish.'

rslt = re.findall('i',at)
rslt

['i', 'i', 'i', 'i', 'i', 'i']

In [5]:
# empty list if pattern is not present

rslt1 = re.findall('xyz',at)
rslt1

[]

In [6]:
st = 'In a world where you can be anything, be kind'

rslt2 = re.findall('be',st)
rslt2

['be', 'be']

In [7]:
# either b or e

rslt2 = re.findall('[be]',st)
rslt2

['e', 'e', 'b', 'e', 'b', 'e']

In [9]:
rslt5 = re.findall('wo........',st)
rslt5

['world wher']

In [10]:
# 3rd element should be rld

rslt6 = re.findall('..rld',st)
rslt6

['world']

In [13]:
# zero or more occurance of w - if not returns null string

rslt6 = re.findall('w*',st)
print(rslt6)

['', '', '', '', '', 'w', '', '', '', '', '', 'w', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [18]:
#occurance of e followed by (zero or more occurance of 2nd e - if not returns null string)

new_st = 'Friend in need is friend in deed'

nr1 = re.findall('ee*',new_st)
print(nr1)

['e', 'ee', 'e', 'ee']

In [22]:
#occurance of e followed by (one or more occurance of 2nd e - if not returns null string)

new_st = 'Friend in need is friend in deed'

nr2 = re.findall('ee+',new_st)
print(nr2)

['ee', 'ee']

In [23]:
# exact occurances - {}

nr3 = re.findall('e{2}',new_st)
nr3

['ee', 'ee']

In [24]:
# exact occurances - {}

nr3 = re.findall('e{3}',new_st)
nr3

[]

In [25]:
# findall - spaces \s

nr4 = re.findall('\s',new_st)
nr4

[' ', ' ', ' ', ' ', ' ', ' ']

In [26]:
# findall - except spaces \S

nr5 = re.findall('\S',new_st)
print(nr5)

['F', 'r', 'i', 'e', 'n', 'd', 'i', 'n', 'n', 'e', 'e', 'd', 'i', 's', 'f', 'r', 'i', 'e', 'n', 'd', 'i', 'n', 'd', 'e', 'e', 'd']

In [27]:
# findall - digit \d

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\d',new_st2)
print(nr6)

['2', '3', '4', '5', '3', '2', '1', '4']

In [28]:
# findall - digit 0ne or more

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\d+',new_st2)
print(nr6)

['23', '453214']

In [29]:
# findall - except digit \D

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\D',new_st2)
print(nr6)

['F', 'r', 'i', 'e', 'n', 'd', ' ', 'i', 'n', ' ', 'n', 'e', 'e', 'd', ' ', 'i', 's', ' ', ' ', 'f', 'r', 'i', 'e', 'n', 'd', ' ', 'i', 'n', ' ', ' ', 'd', 'e', 'e', 'd']

In [30]:
# findall - words ( removes spaces) \w

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\w',new_st2)
print(nr6)

['F', 'r', 'i', 'e', 'n', 'd', 'i', 'n', 'n', 'e', 'e', 'd', 'i', 's', '2', '3', 'f', 'r', 'i', 'e', 'n', 'd', 'i', 'n', '4', '5', '3', '2', '1', '4', 'd', 'e', 'e', 'd']

In [31]:
# findall - except alphanumeric \W

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('\W',new_st2)
print(nr6)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [32]:
# findall - sets - [23] one digit

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('[23]',new_st2) # 2,3
print(nr6)

['2', '3', '3', '2']

In [33]:
# findall - sets - [23][45] - 2 digit

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall(r'[23][45]',new_st2)
print(nr6)

[]

In [34]:
# findall - sets

new_st2 = 'Friend in need is 23 friend in 453214 deed'
nr6 = re.findall('[3-9]',new_st2)
print(nr6)

['3', '4', '5', '3', '4']

## search

In [37]:
st = 'In a world where you can be anything, be kind'

match_object = re.search('can',st)
print(f'type is object {match_object}')

type is object <re.Match object; span=(21, 24), match='can'>

In [38]:
match_object1 = re.search('be',st)      # it will consider first be
print(f'type is object {match_object1}')

type is object <re.Match object; span=(25, 27), match='be'>

In [39]:
match_object.start()     # can

21

In [40]:
match_object1.start()    # be

25

In [41]:
match_object.span()      # can c-21

(21, 24)

In [42]:
match_object1.span()     # be b-25

(25, 27)

In [44]:
source_str  = 'we need to inform him with the latest information'

info = re.search('latest', source_str)
info

In [47]:
if re.search('inform', source_str):
    print('inform is there')

inform is there

In [48]:
randomstr = 'here is \\kane'

print(randomstr)

re.search(r'\\kane',randomstr)

here is \kane

## split

In [49]:
r = re.split(' ',st)
r

['In', 'a', 'world', 'where', 'you', 'can', 'be', 'anything,', 'be', 'kind']

In [50]:
r1 = re.split('e',st)     # e will be removed
r1

['In a world wh', 'r', ' you can b', ' anything, b', ' kind']

In [51]:
# max split

r12 = re.split('e',st,2)
r12

['In a world wh', 'r', ' you can be anything, be kind']

## sub- sustitute

* sub('old pattern','new pattern',source_str)

In [52]:
sb = re.sub('e','E',st)
sb

'In a world whErE you can bE anything, bE kind'

In [53]:
# max no of occurances to be substituted

sb1 = re.sub('e','E',st,2)
sb1

'In a world whErE you can be anything, be kind'

## compile

In [54]:
a = 'hat mat rat pat '

reg = re.compile('[r]at')
reg

re.compile(r'[r]at', re.UNICODE)

In [55]:
rplce = reg.sub('FOOD',a)
rplce

'hat mat FOOD pat '

In [56]:
#replacing 

rplc = re.sub('rat','FOOD',a)
rplc

'hat mat FOOD pat '

## working with white spaces

In [57]:
chelsea = '''keep the blue flag
flying high
chelsa
'''
chelsea

'keep the blue flag\nflying high\nchelsa\n'

In [58]:
new_str = re.sub('\n',' ',chelsea)
new_str

'keep the blue flag flying high chelsa '

In [59]:
# other method using compile

comp = re.compile('\n')

new =comp.sub(' ',chelsea)
new

'keep the blue flag flying high chelsa '

* \b : backspace
* \f : formfeed
* \r: carriage return
* \t: tab
* \v:vertical

In [60]:
phone_no = ''' 
444-122-1234
123-122-78999
111-123-23
67-7890-2019
'''
# 3 digit @ start & middle, end -4 digit

reg = re.findall(r'\d{3}\-\d{3}\-\d{4}',phone_no)
reg

['444-122-1234', '123-122-7899']

In [64]:
import re

target_string = "Jesssy loves Python and pandas"
# Match six-letter word
pattern = r"\w{6}"

# match() method
result = re.match(pattern, target_string)      # 1st 6 letter word match with span
print(result)


# search() method
result = re.search(pattern, target_string)    # print 1st 6 letter word
print(result.group()) 


# findall() method
result = re.findall(pattern, target_string)   # print all 6letter words
print(result)

<re.Match object; span=(0, 6), match='Jesssy'>
Jesssy
['Jesssy', 'Python', 'pandas']